.circle {
    background: #456BD9;
    clip-path: circle(30%);
    height: 5em;
    width: 5em;
  }
.notificationLight{
    display: flex;	

}
.clock {   
    font-weight: lighter;
 }

 .Notifications{
     margin-left: 25px;
     color:blue;

 }